<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Создать профиль</title>
</head>
<body>
<h1>Создать новый профиль</h1>
<form th:action="@{/admin/prof/create}" method="post">
  <input type="text" name="firstName" placeholder="Имя" required>
  <input type="text" name="lastName" placeholder="Фамилия" required>
  <select name="userId" required>
    <option value="">Выберите пользователя</option>
    <th:block th:each="user : ${prof_list}">
      <option th:value="${user.idUser}" th:text="${user.username}"></option>
    </th:block>
  </select>
  <button type="submit">Создать профиль</button>
</form>
</body>
</html>
